@model IEnumerable<ToDo.Models.ToDoItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<ul>
@foreach (var item in Model)
{
    <li>@Html.DisplayFor(modelItem => item.ToDoText)</li>
}
</ul>
